* {
    margin: 0;
    padding: 0;
    outline: 0;
}

h1 {
    font-family: 'League Script';
}

.container {
    max-width: 900px;
    max-height: auto;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('randomshape.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background: #72b040;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.links {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 338px;
    height: 20px;
}

.sisu {
    margin-top: 20px;
}

.sisestus {
    margin-top: 20px
}

img {
    border: 3px solid #cbe3b8;
    padding: 0px;
    width: 200px;
    height: 150px;
    border-radius: 25px;
}

.pildid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer {
    text-align: left;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/*links*/
a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: #79b14d;
    text-decoration: none;
  }
  a:hover {
    color: #79b14d;
    text-decoration: none;
  }
  a:active {
    color: #79b14d;
    text-decoration: none;
  }
  a[href^="http://"],
  a[href^="https://"] {
    color: #79b14d;
    text-decoration-line: underline;
  }